.hdesk-container{
	border: 1px solid #ddd;
	padding: 20px;
}

.hdesk-hr{
	border: 1px dotted #ddd;
}
.priority-low{
    background: orange !important;
}
.priority-medium{
    background: green;
}
.priority-high{
    background: red;
}

.statusopen{
	background: #F0AD4E;
	padding: 5px;
	color: #ffffff;
}

.statuspending{
	background: #31B0D5;
	padding: 5px;
	color: #ffffff;
}

.statusclosed{
	background: #449D44;
	padding: 5px;
	color: #ffffff;
}

.no-border{
	border: none !important;
}
